################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeepSeaWorldApp/DeepSeaWorldApp/obj/Debug/netstandard2.0
/DeepSeaWorldApp/DeepSeaWorldApp.iOS/obj/iPhoneSimulator/Debug
